.disciplina {
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-radius: 5px;
}
